div, .header, .splash, .work {
    /* border: 1px solid black; */
}

.container {
    /* max-width: 300px; */
}

* {
    transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.header-info {
    font-family: 'Raleway', sans-serif;
    text-align: right;
  text-transform: uppercase;
}

.logo {
    max-width: 80px;
    max-height: 80px;
}